.App {
  height: 100vh;
  display: grid;
  place-items: center;
}

.emoji {
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  overflow: scroll;
  overflow-x: hidden;
  height: 56vh;
  margin: 0 auto;
  scrollbar-width: thin;

}

.emojidisplay {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.warper {
  border: solid 1px cornflowerblue;
  border-radius: 8px;

}

.nav {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 6px;
  background-color: cornflowerblue;
  border-radius: 8px;
}

.search {
  position: absolute;
  top: 0;
  height: 15vh;
}